/* Global styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  color: #666666;
}

.clear {
  clear: both;
}

td {
  border-top: solid 1px #d3d3d3;
}

td,
th {
  padding: 10px;
}

table {
  border-collapse: collapse;
}


/* Documentation site component styles */

.navbar {
  border-radius: 0px;
}

.navbar-header {
  margin-left: 4% !important;
}

.navbar-brand {
  color: #0DD8FF !important;
}

.navbar-brand :hover {
  color: #0DD8FF !important;
}

.brand-description {
  color: #bfbcbc;
  padding: 15px 15px;
  padding-right: 45px;
  font-size: 18px;
  line-height: 20px;
}

.brand-description :hover {
  color: #9d9d9d;
}

.mid-container {
  margin-top: 75px;
}

.navigation li :hover,
.navigation li :focus,
.navigation li :active {
  color: #F48024;
}

.nav-logo {
  vertical-align: middle;
  display: inline-block !important;
  width: 36px;
  margin-top: -8px;
}

.example {
  border: solid 1px #d3d3d3;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f4f6f9;
}

.example h4:first-of-type {
  margin-top: 0;
}

.example p:last-of-type {
  margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th,
td {
  text-align: left;
  padding: 5px;
}

.navigation {
  float: left;
  width: 250px;
  list-style-type: none;
  padding: 0;
}

.header {
  background: yellow;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 5px;
}